<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Timeout for the data in the cache in seconds  -->
    <add key="CacheTimeout" value="36000"/>  
    <!-- Cache -->
    <add key="CacheLibrary" value="BlueCurve.Seach.RobotRules.Cache"/>
  </appSettings>
  <connectionStrings>
    <add name="DataCache" connectionString="Data Source=RobotsCache.s3db;Version=3;" providerName="System.Data.SQLite"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
